* {
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgb(95, 191, 255), rgb(9, 9, 150));
}

.navbar {
  background-image: linear-gradient(to right, rgb(76, 176, 243), rgb(9, 9, 150));
  display: flex;
}

.logo img {
  width: 150px;
  margin-left: 150px;
}

select {
  text-decoration: none;
  border: none;
  background: none;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  align-content: center;
}

.navRedirect {
  display: flex;
  align-content: center;
  gap: 40px;
  margin-left: 800px;
}

.wwu {
  background-color: rgb(255, 133, 154);
  height: 13px;
  align-self: center;
  padding: 20px;
  border-radius: 100px;
}

.wwu:hover {
  background-color: rgb(240, 240, 240);
  color: black;
  transition: all ease 1s;
  transform: scale(1.05);
}

a:hover {
  transform: scale(1.05);
  transition: all ease 0.3s;
}

select:hover {
  transform: scale(1.05);
  transition: all ease 0.3s;
  cursor: pointer;
}

.principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.principalText {
  color: white;
  font-family: sans-serif;
  margin-left: 250px;
  max-width: 900px;
  margin-top: 200px;
}

h2 {
  font-size: 60px;
}

.cell img {
  margin-top: 100px;
}

#smallText {
  color: white;
  font-family: sans-serif;
  margin-left: 250px;
  margin-top: -70px;
}

.wwuPrincipal {
  margin-left: -550px;
  background-color: rgb(255, 133, 154);
  height: 13px;
  margin-top: -30px;
  padding: 20px;
  border-radius: 100px;
}

.wwuPrincipal:hover {
  background-color: rgb(240, 240, 240);
  color: black;
  transition: all ease 1s;
  transform: scale(1.05);
}