* {
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgb(95, 191, 255), rgb(9, 9, 150));
}

.principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.principalText {
  color: white;
  font-family: sans-serif;
  margin-left: 250px;
  max-width: 900px;
  margin-top: 200px;
}

h2 {
  font-size: 60px;
}

.cell img {
  margin-top: 100px;
}

#smallText {
  color: white;
  font-family: sans-serif;
  margin-left: 250px;
  margin-top: -70px;
}

.wwuPrincipal {
  margin-left: -550px;
  background-color: rgb(255, 133, 154);
  height: 13px;
  margin-top: -30px;
  padding: 20px;
  border-radius: 100px;
}

.wwuPrincipal:hover {
  background-color: rgb(240, 240, 240);
  color: black;
  transition: all ease 1s;
  transform: scale(1.05);
}





.container-notfound{
  width: 70vw;
  margin: auto;
}

.flex-notfound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.face{
  width: 300px;
  height: auto;
}