.container-cta-fluid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: rgb(214, 5, 5);
    color: white;
    padding: 20px;
}
.container-cta-fluid p {max-width: 50vw;}
.button-cta{
    font-size: xx-large;
    font-weight: bold;
    padding: 2rem;
    border-radius: 25px;
}